<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineAttandanceAdmin"
        tools:targetApi="31">
        <activity
            android:name=".Co_third_sem_subject"
            android:exported="false" />
        <activity
            android:name=".Co_second_sem_subject"
            android:exported="false" />
        <activity
            android:name=".Co_first_sem_ict"
            android:exported="false" />
        <activity
            android:name=".Co_first_sem_basic_science"
            android:exported="false" />
        <activity
            android:name=".Co_first_sem_math"
            android:exported="false" />
        <activity
            android:name=".Co_first_sem_English"
            android:exported="false" />
        <activity
            android:name=".co_first_sem_subject"
            android:exported="false" />
        <activity
            android:name=".CosemisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PHP_Activity"
            android:exported="false" />
        <activity
            android:name=".Javascript"
            android:exported="false" />
        <activity
            android:name=".Advance_java_Programming"
            android:exported="false" />
        <activity
            android:name=".Java_Programming"
            android:exported="false" />
        <activity
            android:name=".Cpp_Programming"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>